$main-light-gray: whitesmoke;
$main-gray: dimgray;
$medium-gray: #b5b5b5;

.navbar {
  height: 64px;
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: none;
  border-bottom: 1px $main-light-gray solid;
  &__logo {
    background-image: url('../img/pinterest-logo.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    display: inline-block;
    background-size: contain;
  }
  &__search {
    background-color: $main-light-gray;
    width: 70%;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 13px;

    input[type="text"] {
      background-color: transparent;
      border: none;
      margin: 0;
      margin-left: 16px;
      color: dimgray;
      font-weight: 600;
    }
    input[type=text]:focus:not([readonly]) {
      border-bottom: none;
      box-shadow: none;
    }
    &__icon {
      color: $medium-gray;
      font-size: 23px;
    }
    &__close {
      color: $medium-gray;
      font-size: 20px;
    }
  }
  &__profile {
    width: 50px;
    height: 50px;
    color: $medium-gray;
    font-size: 23px;
    display: inline-block;
    background-size: contain;
    border-radius: 80px;
    border-radius: 73px;
    padding: 13px 16px;
    margin: 0 5px;
  }
  &__profile--hover:hover {
    background-color: $main-light-gray;
  }
  &__menu {
    @extend .navbar__profile;
    padding: 13px 14px;
  }
  &__menu--hover:hover {
    background-color: $main-light-gray;
  }
  &__messages {
    @extend .navbar__profile;
    width: 35px;
    height: 35px;
    background-image: url('../img/message.png');
  }
}
.scroll-tags{
  align-items: center;
  align-content: space-around;
  display: flex;
  height: 7rem;
  overflow: scroll;
  overflow-y: hidden;
  &__tags{
    border-radius: 8px;
    margin: 0 8px;
  }
}
.tagScroll{
  padding: 0 4em;
}

$listColors: (0:"#855D5C", 1:"#5F7175", 2:"#AB576D", 3:"#313233", 4:"#414141", 5:"#284051",
              6:"#EC7133", 7:"#542721", 8:"#DACAC1", 9:"#AFA89B", 10:"#897B72", 11:"#47B7D7",
              12:"#859DA7",13:"#AAD3E3", 14:"#E6BD3E", 15:"#8D6E60", 16:"#2C241C", 17:"#B55F5F",
              18:"#89D1E2", 19:"#3C8EE8", 20:"#D88678", 21:"#A0A09A", 22:"#9DACBB", 23:"#D2C7D2");


@each $animal, $value in $listColors {
  .scroll-tags-#{$animal}{
    background-color: #{$value};
  }
}
