.navbar {
  height: 64px;
  &__logo {
  }
}
.scroll-tags{
  align-items: center;
  align-content: space-around;
  display: flex;
  height: 7rem;
  overflow: scroll;
  overflow-y: hidden;
  &__tags{
    border-radius: 8px;
    margin: 0 8px;
  }
}
.tagScroll{
  padding: 0 4em;
}

$listColors: (0:"#855D5C", 1:"#5F7175", 2:"#AB576D", 3:"#313233", 4:"#414141", 5:"#284051",
              6:"#EC7133", 7:"#542721", 8:"#DACAC1", 9:"#AFA89B", 10:"#897B72", 11:"#47B7D7",
              12:"#859DA7",13:"#AAD3E3", 14:"#E6BD3E", 15:"#8D6E60", 16:"#2C241C", 17:"#B55F5F",
              18:"#89D1E2", 19:"#3C8EE8", 20:"#D88678", 21:"#A0A09A", 22:"#9DACBB", 23:"#D2C7D2");


@each $animal, $value in $listColors {
  .scroll-tags-#{$animal}{
    background-color: #{$value};
  }
}
